<ul class="foot_navbar">
  <li class="foot_nav-item">
    <a class="foot_nav-link" href="/">Home</a>
  </li>
  <li class="foot_nav-item">
    <a class="foot_nav-link" href="/ørjan">Ørjan</a>
  </li>
  <li class="foot_nav-item">
    <a class="foot_nav-link" href="/simen">Simen</a>
  </li>
</ul>
