<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hellesnes</title>
  </head>
  <body>
    <header><%- include('../views/partials/header'); %></header>

    <h1>Ørjan side test Adapti</h1>
    <iframe width="1400" height="870" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=9FDCAA5F021C6426%21117665&authkey=%21ANhwXWNry3sNHcY&em=2&AllowTyping=True&ActiveCell='EN%C3%98K-analyse%20belysning'!A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=false&resen=false&ed1JS=false"></iframe>

    <footer><%- include('../views/partials/footer'); %></footer>
  </body>
</html>
