<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hellesnes</title>
  </head>
  <body>
    <header><%- include('../views/partials/header'); %></header>

    <h1>simen side</h1>
    <h2>Greier jeg har gjort</h2>
    <ul id="simenlist">
      <li>
        <a href="https://folk.ntnu.no/simenfhe/bruker/" target="blank"
          >Brukervennlighet oppgave</a
        >
      </li>
      <li>
        <a href="https://simenfhe.github.io/" target="blank"
          >Avansert css oppgave (mario delen)</a
        >
      </li>
      <li>
        <a href="http://gruppe4.tech/" target="blank">Webprosjekt (pågående)</a>
      </li>
      <li>
        <a href="https://folk.ntnu.no/simenfhe/helse/" target="blank"
          >Helseoppgave</a
        >
      </li>
    </ul>

    <footer><%- include('../views/partials/footer'); %></footer>
  </body>
</html>
